{% extends 'base.html.twig' %}

{% block title %}Movies{% endblock %}

{% block body %}
    <h1>Movies</h1>

    <p>Welcome to Movies FX Site!</p>

    {% if movies %}
        <ul>
        {% for movie in movies %}
            {{ include ('_movie_data.html.twig', {'movie': movie }) }}
        {% endfor %}
    {% else %}
        <p>No movies found</p>
    {% endif %}

{% endblock %}